---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { Image } from "@astrojs/image/components";
const {
  title,
  img,
  desc,
  url,
  isMandatory,
  tags,
  target = "_blank",
} = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
console.log("badge", isMandatory);
---

<div class="rounded-lg bg-base-100 transition ease-in-out hover:scale-[102%] ">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            aspectRatio="16:9"
            width={750}
            format="avif"
            fit="fill"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold body">
          {title}
          {
            isMandatory === false && (
              <div class="badge badge-secondary bg-cranberry border-none mx-2">
                {t("esc.mandatory")}
              </div>
            )
          }
        </h1>
        <p class="py-1 text-1xl body">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
          }
        </div>
      </div>
    </div>
  </a>
</div>
